<nav class="navbar navbar-expand-lg navbar-light">
  <img
    src="../../../assets/Screenshot 2023-09-04 151159.jpg"
    width="30"
    height="30"
    class="AshImage d-inline-block align-top"
    alt=""
  />
  <a class="navbar-brand" href="https://wa.me/7737766484" target="_blank"
    >AYUSH SINGHAL</a
  >
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <fa-icon [icon]="angellist"></fa-icon>
  </label>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="toHome()" routerLink="Home">HOME</a>
      <a class="nav-item nav-link" (click)="toAbout()" routerLink="About"
        >ABOUT</a
      >
      <a class="nav-item nav-link" (click)="toProjects()" routerLink="Projects"
        >PROJECTS</a
      >
      <a class="nav-item nav-link" (click)="toExp()" routerLink="Experience"
        >EXPERIENCE</a
      >
    </div>
  </div>
</nav>
