nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #fff;
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
}
.AshImage {
  width: 80px;
  height: 75px;
  margin-left: 27px;
}
a {
  font-weight: bold;
  color: black;
  margin: 20px;
  text-decoration: none;
}
a:hover {
  color: blueviolet;
  transition: 0.2s ease;
}
.collapse {
  justify-content: end;
}

fa-icon {
  font-size: 40px;
  display: none;
}
#check {
  display: none;
}
@media (min-width: 1320px) {
  .navbar-brand {
    margin-left: -20%; /* Adjust the margin for smaller screens */
  }
}
@media (max-width: 994px) {
  .AshImage {
    margin-top: 7px;
  }
  fa-icon {
    display: block;
    background-color: black;
  }
  ul {
    position: fixed;
    width: 30%;
    height: 100vh;
    background: white;
    top: 99px;
    left: -70%;
    text-align: center;
    transition: all 0.5s;
    z-index: 4;
  }
  nav ul li {
    display: block;
    margin: 40px;
    line-height: 10px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
