<div class="cont" id="home">
  <div class="social">
    <a href="https://www.linkedin.com/in/ayush-singhal--/"
      ><img src="../../../assets/linked.png" alt=""
    /></a>
    <a href="https://github.com/345AYUSH420"
      ><img src="../../../assets/github.png" alt=""
    /></a>
    <a href="https://leetcode.com/singhalayush40/"
      ><img src="../../../assets/leetcode.png" alt=""
    /></a>
    <a href="https://auth.geeksforgeeks.org/user/singhalayush40/practice"
      ><img src="../../../assets/gfg.png" alt=""
    /></a>

    <a href="mailto:singhalayush40@gmail.com"
      ><img src="../../../assets/mail.png" alt=""
    /></a>
  </div>
  <div class="container">
    <div class="hero-name">
      <h1 class="heading">HEY I'M AYUSH SINGHAL</h1>
    </div>

    <div class="hero-about">
      <p>
        A Frontend focused Web Developer building the Frontend of Websites and
        Web Applications that leads to the success of the overall product
        PROJECTS
      </p>
    </div>
    <div class="hero-projects">
      <button class="btn btn-primary">
        <a (click)="toProjects()" routerLink="Projects">PROJECTS</a>
      </button>
    </div>
  </div>
</div>
