<div class="cont" id="projects">
  <div class="container">
    <div class="prjheading">
      <h3>PROJECTS</h3>
    </div>

    <div class="container">
      <div class="prj-head">
        <img src="../../../assets/builty-module.jpg" alt="" />
        <h4>TRUCKSPOINT</h4>
        <p>A Builty module designed for Truckspoint</p>
        <button class="btn">
          <a href="https://github.com/345AYUSH420/builty-module" target="_blank"
            >GitHub Link</a
          >
        </button>
        <button class="btn">
          <a
            href="https://builty-module-7ue7hclzw-345ayush420.vercel.app/"
            target="_blank"
            >Live Link</a
          >
        </button>
      </div>
      <div class="prj-head">
        <img src="../../../assets/todo-list.jpg" alt="" />
        <h4>TODO LIST</h4>
        <p>A todo-list to manage all the dailt todos.</p>
        <button class="btn">
          <a href="https://github.com/345AYUSH420/todo-list" target="_blank"
            >GitHub Link</a
          >
        </button>
        <button class="btn">
          <a
            href="https://todo-list-kappa-liart.vercel.app/home"
            target="_blank"
            >Live Link</a
          >
        </button>
      </div>
      <div class="prj-head">
        <img src="../../../assets/text-editor.jpg" alt="" />
        <h4>TEXT EDITOR</h4>
        <p>
          A text editor to manage all the small & important text of daily life.
        </p>
        <button class="btn">
          <a href="https://github.com/345AYUSH420/Text_Editor" target="_blank"
            >GitHub Link</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
