<div class="cont" id="experience">
  <div class="expheading">
    <h3>EXPERIENCE</h3>
  </div>
  <div class="container">
    <div class="exp-head">
      <img src="../../../assets/creszen.png" alt="" />
      <h6><b>CRESZEN PVT. LTD.</b></h6>
      <p>
        I Worked here as a <b>Frontend Developer Intern</b> for <b>2 Months</b>,
        where i worked on frontend framework like <b>Angular</b>. I also made a
        Frontend design for their Product
        <b><a (click)="toProjects()" routerLink="Projects">TRUCKSPOINT</a></b>
      </p>
    </div>
    <div class="exp-head">
      <img src="../../../assets/celebal.png" alt="" />
      <h6><b>CELEBAL TECHNOLOGIES</b></h6>
      <p>
        I worked here as a <b>Summer Intern</b>. I was working as a
        <b>Sql Developer</b> for <b>2 Months</b>. I gained a deep knoledge of
        database and <b>MySql & MsSql</b> and worked on various projects.
      </p>
    </div>
    <div class="exp-head">
      <img src="../../../assets/bodacious.png" alt="" />
      <h6><b>BODACIOUS IT HUB</b></h6>
      <p>
        I joined bodacious it hub as <b>Core Java Developer Trainee</b> for
        <b>2 Months</b> where i was trained on all the core java concepts and at
        last made a project
        <b><a (click)="toProjects()" routerLink="Projects">Text Editor</a></b>
      </p>
    </div>
  </div>
</div>
